@import url(null.css);

.wrap {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.decor-block {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #000;
}

.header {
	position: fixed;
	width: 100%;
	top: 50px;
	right: 0;
	background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9));
	z-index: 10;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	opacity: 0;
	animation: header 1.5s ease 1 normal 2s forwards;	
}

@keyframes header {
0%{
	opacity: 0;
  }
100%{
	opacity: 1;
  }
}

.slogan {
	font-family: verdana;
	font-size: 40px;
}
.logo {

}
.logo img {
	border-radius: 43%;
	padding: 5px 5px 5px 20px;
	max-width: 100%;
}

.video {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -10; 
}


.video_media {  
   
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;  
}




